---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">
<div class="col-md-12 my-5">

  {% include feature/timelinejs.html %}

</div>


  <div class="col-md-4">


    {% include index/carousel.html title="Sample Rufuses" height="600" btn-text="View Rufus"%}
    
  </div>
  <div class="col-md-4">

    {% include index/featured-terms.html field="subject" title="What it's about" btn-color="outline-success" max="20" %}
    {% include index/time.html %}
</div>
  <div class="col-md-4">  

    
    {% include index/description.html %}
    {% include index/featured-terms.html field="latitude" title="Top Latitudes" btn-color="success" max="10" %}

    

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>